:root {
    font-family: 'Roboto Condensed', sans-serif;
}

* {
    --b3c2b8: #b3c2b8;
    --1db48c: #1db48c;
    --277368: #277368;
    --whitesmoke: whitesmoke;
    --23333b: #23333b;
    box-sizing: border-box;
}

body {
    background-color: var(--23333b);
}

.container {
    max-width: 1120px;
    margin: 0 auto;
}

.all_books {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
}

h1 {
    font-size: 80px;
    font-weight: bold;
    padding: 30px 40px;
    color: var(--b3c2b8);
    text-align: center;
}

.books {
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc(100%/4 - 40px);
    margin-top: 20px;
}

@media (max-width:1000px) {
    .books {
        width: calc(100%/3 - 40px);
    }
    h1 {
        font-size: 70px;
    }
    .header {
        padding-right: 20px;
    }
    .book-img {
        width: 150px;
        height: 200px;
    }
}

@media (min-width:451px) and (max-width:750px) {
    .books {
    width: calc(100%/2 - 40px);
    }
    h1 {
        font-size: 60px;
        padding: 10px 20px;
    }
    #book-img {
        width: 200px;
        height: 310px;
    }
    #add-book {
        padding: 10px;
    }
}

@media (min-width:320px) and (max-width:450px) {
    .books {
    width: calc(100% - 40px);
    }
    h1 {
        font-size: 40px;
        padding: 10px 20px;
    }
    .header {
        padding-right: 20px;
    }
    #book-img {
        width: 260px;
        height: 360px;
    }
    #add-book {
        padding: 10px;
    }

}


.book-img {
    width: 200px;
    height: 250px;
    border: 1px solid var(--23333b);
}

.top-books {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    background-color: var(--b3c2b8);
    align-items: center;
}

.title {
    padding-top: 15px;
    padding-bottom: 15px;
}

.years {
    text-align: center;
    color: #23333b;
    font-weight: bold;
    padding-bottom: 20px;
}

.authors {
    background-color: rgba(204,251,241);
    text-align: center;
    width: 100%;
    padding: 5px;
    border-radius: 10px;
}

.add_new_book {
    width: 30%;
    margin: 0 auto;
}

.buttons {
    display: flex;
    border: 2px solid rgb(215, 211, 211);
    
}

.button {
    padding:  16px;
    border: none;
    background-color: var(--whitesmoke);
    text-align: center;
    justify-content: center;
    width: 100%;
}

.green-button {
    background-color: var(--1db48c);
    border: 2px solid var(--277368);
}

.green-button:hover {
    background-color: var(--277368);
    border: 1px solid var(--1db48c);
    color: var(--whitesmoke);
    transition: 0.4s;
    cursor: pointer;
}

.button:last-child {
    border-left: 1px solid var(--23333b);
}

.button:hover {
    color: var(--whitesmoke);
    background-color: var(--277368);
    cursor: pointer;
    transition: 0.3s;
}

.button_add_books {
    margin: 0 auto;
    display: block;
    font-size: 30px;
}

.add_newbook {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    background-color: var(--whitesmoke);
    padding: 30px;
}

.input_newbook {
    padding: 15px;
}

.input_newbook p {
    background-color: var(--23333b);
    color: var(--whitesmoke);
    padding: 5px 10px 15px 10px;
    margin: -10px;
    margin-right: 15px;
    border-radius: 5px 0 5px 0;
}

.input_newbook input {
    padding: 5px 10px;
    margin-top: 3px;
    border-bottom: 5px solid var(--1db48c);
    width: 100%;
    
}

.input_newbook input:focus {
    outline: 1px solid var(--1db48c);
}

.open_form {
    margin-top: 30px;
}

.add-modal {
    position: fixed;
    height: 100%;
    width: 100%;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.376);
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title-add-new-book {
    font-weight: bold;
    font-size: 30px;
}

.icon-close {
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

.icon-close:hover {
    rotate: 180deg;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}

.title-icon {
    display: flex;
    justify-content: space-between;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.display_none {
    display: none;
}